*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    justify-content: center;
    height: 800px;
    background: rgb(3, 252, 152);
}
.container{
    width: 60%;
    margin: 50px 0;
    height: 550px;
    background: white;
    padding: 40px 40px;
    border-radius: 10px;
}

#numeric, #extenso{
    height: 40px;
    font-size: 18px;
}

.container h1{
    text-align: center;
    font-size: 46px;
    padding-bottom: 20px;
}

.container h2{
    padding: 30px 0;
}

.container input{
    width: 100%;
    margin-bottom: 20px;
}

hr{
    margin: 20px 0;
}

.container p {
    font-size: 18px;
    margin: 10px 0;
}

